@use "../index.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include antialias;
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: var(--light-grayish-cyan);
  line-height: 1.6em;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}
thead {
  font-weight: bold;
  background: var(--grey300);

  th {
    border-color: var(--grey500);
  }
}

td,
th {
  padding: 0.5rem;
}
/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* ========================== § TYPOGRAPHY == */
.title {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  line-height: 1.5em;
  max-width: unset;
  margin-top: 0;
  margin-bottom: 3.2rem;
}
label:not(.calculator__tip-percent-button),
legend {
  font-size: var(--font-size-labels);
}

label,
legend {
  letter-spacing: 0.06em;
  font-weight: bold;
  color: var(--dark-grayish-cyan);
}

input {
  font-size: var(--input-font-size);
}

/* hide arrows https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: var(--dark-grayish-cyan2);
}

/* ========================== § BUTTONS === */
.button {
  background: var(--light-grayish-cyan2);
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  height: 2rem;
  display: block;
  line-height: 2rem;
  padding: 0 0.5rem;
}

.button--dark {
  @extend .button;
  background: var(--very-dark-cyan);
  color: white;
}

.button--dark--active {
  @extend .button;
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.button--dark--unclickable {
  @extend .button;
  background: #0f5d62;
  color: #055155;
  pointer-events: none;
}

.calculator {
  background: white;
  color: var(--very-dark-cyan);
  padding: 1.3em;
  border-radius: 1rem;

  @include mq($desktop-width, up) {
    margin: 0 auto;
    width: 920px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/* ========================== § INPUT === */
.calculator__input {
  padding: 0.3rem 0.6rem;
}

.calculator__bill {
  width: 100%;
}

/* ========================== § OUTPUT === */
.calculator__output {
  background: var(--very-dark-cyan);
}

.calculator__bill,
.calculator__people {
  text-align: right;
}
