@use "../index.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include antialias;
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  @include center(flex, true);
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: var(--light-grayish-cyan);
  line-height: 1.6em;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}
thead {
  font-weight: bold;
  background: var(--grey300);

  th {
    border-color: var(--grey500);
  }
}

td,
th {
  padding: 0.5rem;
}
/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type="submit"] {
  cursor: pointer;
}

form {
  width: 100%;
}

/* ========================== § TYPOGRAPHY == */
.title {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  line-height: 1.5em;
  max-width: unset;
  margin-top: 0;
  margin-bottom: 3.2rem;

  @include mq($desktop-width, down) {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
  }
}

label:not(.calculator__tip-percent-button),
legend {
  font-size: var(--font-size-labels);
}

label,
legend {
  // letter-spacing: 0.02em;
  font-weight: bold;
  color: var(--dark-grayish-cyan);
}

input {
  font-size: var(--input-font-size);
  caret-color: var(--strong-cyan);

  &:focus {
    outline: 2px solid var(--strong-cyan);
  }

  &.error {
    outline: 2px solid var(--error-color);
  }
}

/* hide arrows https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: var(--dark-grayish-cyan2);
}

/* ========================== § BUTTONS === */
.button {
  background: var(--light-grayish-cyan2);
  font-weight: bold;
  border: none;
  border-radius: 0.2rem;
  height: 2rem;
  display: block;
  line-height: 2rem;
  padding: 0 0.5rem;
}

.button--dark {
  @extend .button;
  background: var(--very-dark-cyan);
  color: white;
}

.button--dark.active {
  @extend .button;
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.button--dark.active,
.button--dark {
  &:hover {
    background: #95e5da;
    color: var(--very-dark-cyan);
  }
}

.button--dark.unclickable {
  @extend .button;
  background: #0f5d62;
  color: #055155;
  pointer-events: none;
}

.calculator {
  background: white;
  color: var(--very-dark-cyan);
  padding: 0.7rem;
  border-radius: 1rem 1rem 0 0;

  @include mq($desktop-width, up) {
    border-radius: 1rem;
    margin: 0 auto;
    width: 920px;

    padding: 1.3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/* ========================== § INPUT === */
.calculator__input {
  padding: 0.3rem 0.6rem;
  width: 100%;
}

.calculator__bill,
.calculator__people {
  text-align: right;
}

.calculator__bill {
  background: var(--light-grayish-cyan2) url(../../images/icon-dollar.svg) 1rem center no-repeat;
  width: 100%;
  margin-bottom: 1rem;
}

.calculator__tip-percent-container {
  // Grid
  display: grid;
  gap: 0.7rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  @include mq($desktop-width, up) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  input[type="radio"] {
    @extend %hide-visually;
    @include column-start-end(1, 1);
    position: absolute;
  }

  // Other styles
  width: 100%;
  padding: 0;
  margin-bottom: 1.5rem;
  border: none;

  legend {
    margin: 0;
    margin-bottom: 0.4rem;
  }
}

.calculator__tip-percent-button {
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.calculator__tip-percent--input {
  text-align: right;

  &::placeholder {
    color: var(--dark-grayish-cyan);
  }
}

.calculator__people-label-container {
  display: flex;
}

.calculator__people {
  width: 100%;
  background: var(--light-grayish-cyan2) url(../images/icon-person.svg) 1rem center no-repeat;
  @include mq($desktop-width, down) {
    margin-bottom: 1rem;
  }
}

.calculator__error-msg {
  display: none;
  font-size: var(--font-size-labels);
  font-weight: bold;
  color: var(--error-color);
  margin-left: auto;

  &.error {
    display: block;
  }
}
/* ========================== § OUTPUT === */
.calculator__output {
  display: grid;
  background: var(--very-dark-cyan);
  border-radius: 0.7rem;
  padding: 1.6rem 1rem;

  @include mq($desktop-width, up) {
    padding: 1.3rem 1.8rem 1.8rem;
  }
}

.calculator__table {
  width: 100%;
  border: none;

  td {
    border: none;
    padding: 0;
    padding-bottom: 1rem;

    @include mq($desktop-width, up) {
      padding-bottom: 0rem;
    }
  }
}

.calculator__tip-amount {
  color: white;
  font-weight: bold;
  font-size: 0.6rem;
  line-height: 1.5em;

  span {
    display: block;
    color: var(--dark-grayish-cyan2);
    font-size: 0.5rem;
  }
}

.calculator__total {
  font-size: 1.2rem;
  color: var(--strong-cyan);
  font-weight: bold;
  text-align: right;

  &:before {
    content: "$";
  }

  @include mq($desktop-width, up) {
    font-size: 2rem;
  }
}

.calculator__reset {
  display: block;
  width: 100%;
  align-self: end;
}
